@inject IJSRuntime JSRuntime

<button type="button" @onclick="CopyToClipboardAsync" class="btn btn-primary">
    <i class="fas fa-copy"></i> Copy to Clipboard!
</button>

@code {
    [Parameter]
    public string? TargetId { get; set; }

    public async Task CopyToClipboardAsync()
        => await JSRuntime.InvokeVoidAsync("copyToClipboard", TargetId);
}